
@font-face {
  font-family: "Anakotmai-light";
  src: url("./assets/fonts/anakotmai-light.ttf") format("opentype"),
    /* IE6-IE8 */ url("/src/assets/fonts/anakotmai-light.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/src/assets/fonts/anakotmai-light.woff")
      format("woff"),
    /* Modern Browsers */ url("/src/assets/fonts/anakotmai-light.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Anakotmai-medium";
  src: url("./assets/fonts/anakotmai-medium.ttf") format("opentype"),
    /* IE6-IE8 */ url("/src/assets/fonts/anakotmai-medium.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/src/assets/fonts/anakotmai-medium.woff")
      format("woff"),
    /* Modern Browsers */ url("/src/assets/fonts/anakotmai-medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Anakotmai-bold";
  src: url("./assets/fonts/anakotmai-bold.ttf") format("opentype"),
    /* IE6-IE8 */ url("/src/assets/fonts/anakotmai-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/src/assets/fonts/anakotmai-bold.woff")
      format("woff"),
    /* Modern Browsers */ url("/src/assets/fonts/anakotmai-bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

body {
  margin: 0;
  font-family: "Anakotmai-light" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Anakotmai-light";
}

/* Typography */
.wh1 {
  font-family: "Anakotmai-medium";
  font-size: calc(32px + var(--font-scale)) !important;
  font-weight:lighter;
}

.wh2 {
  font-family: "Anakotmai-medium";
  font-size: calc(24px + var(--font-scale)) !important;
  font-weight:lighter;
}

.wh3 {
  font-family: "Anakotmai-medium";
  font-size: calc(16px + var(--font-scale)) !important;
  font-weight:lighter;
}

.wh4 {
  font-family: "Anakotmai-medium";
  font-size: calc(14px + var(--font-scale)) !important;
  font-weight:lighter;
}

.wh5 {
  font-family: "Anakotmai-medium";
  font-size: calc(12px + var(--font-scale)) !important;
  font-weight:lighter;
}

.wp1 {
  font-family: "Anakotmai-light";
  font-size: calc(20px + var(--font-scale)) !important;
}

.wp2 {
  font-family: "Anakotmai-light";
  font-size: calc(16px + var(--font-scale)) !important;
}

.wp3 {
  font-family: "Anakotmai-light";
  font-size: calc(14px + var(--font-scale)) !important;
}

.wp4 {
  font-family: "Anakotmai-light";
  font-size: calc(12px + var(--font-scale)) !important;
}

.wa {
  font-family: "Anakotmai-bold";
  font-size: calc(18px + var(--font-scale)) !important;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
/* set background color for smart home button */
.green-btn {
  background-color: #219653 !important;
  color: white !important;
}
