@font-face {
  font-family: "Anakotmai-light";
  src: url("./assets/fonts/anakotmai-light.ttf") format("opentype"),
    /* IE6-IE8 */ url("/src/assets/fonts/anakotmai-light.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/src/assets/fonts/anakotmai-light.woff") format("woff"),
    /* Modern Browsers */ url("/src/assets/fonts/anakotmai-light.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Anakotmai-medium";
  src: url("./assets/fonts/anakotmai-medium.ttf") format("opentype"),
    /* IE6-IE8 */ url("/src/assets/fonts/anakotmai-medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/src/assets/fonts/anakotmai-medium.woff") format("woff"),
    /* Modern Browsers */ url("/src/assets/fonts/anakotmai-medium.ttf") format("truetype"); /* Safari, Android, iOS */
}


@font-face {
  font-family: "Anakotmai-bold";
  src: url("./assets/fonts/anakotmai-bold.ttf") format("opentype"),
    /* IE6-IE8 */ url("/src/assets/fonts/anakotmai-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/src/assets/fonts/anakotmai-bold.woff") format("woff"),
    /* Modern Browsers */ url("/src/assets/fonts/anakotmai-bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  margin: 0;
  font-family: "Anakotmai-light" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Anakotmai-light";
}
